.wptourn-required {
	color: red;
}
.wptournreg-backlink {
	font-size: xx-small;
	margin-top: 10px;
	text-align: right;
}
.wptournregedit-delcheck {
	padding: 0 15px 0 3px;
}
.wptournreg-form label,
.wptournregedit-participant label {
	vertical-align: top;
	margin: 3px;
}
.wptournreg-form legend,
.wptournregedit-participant legend {
	margin: 3px;
}
.wptournreg-form fieldset {
	border: 1px dashed;
}